doctype xml
rss(version='2.0')
    channel
        title= feed.title
        description= feed.description
        link= feed.link
        language= feed.en
        for item in posts
            item
                title= item.title
                pubDate= item.pubDate
                description= item.description
                link= item.canonicalUrl